@page
@model AnnouncementRazorPages.Pages.Announcement.IndexModel
@{
    ViewData["Title"] = "Announcement";
}

<h1>Announcements</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
               Title
            </th>
            <th>
               Description
            </th>
            <th>
               CreatedBy
            </th>
            <th>
               Created At
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Announcements)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Title)*@
                    @item.Title
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desciption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
