@page
@model AnnouncementRazorPages.Pages.DetailsModel
@{
    ViewData["Title"] = "Announcement Details";
}

<h1>Announcement Details</h1>

<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Announcements.Id)
        @Html.DisplayNameFor(model => model.Announcements.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Announcements.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Announcements.Desciption)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Announcements.Desciption)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Announcements.CreatedBy)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Announcements.CreatedBy)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Announcements.CreatedAt)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Announcements.CreatedAt)
    </dd>
    @*
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>*@
</dl>

<div class="row mb-2">
    <div class="col-md-12">
        <a href="#" id="commentBtn">Add a comment</a>
    </div>
</div>

<div class="row mb-2" id="commentBox" style="display:none">
    <div class="col-md-12">

        <div class="form-group row">
            <input type="text" class="col-sm-8 col-form-label" id="description" asp-for="Comment.Description" placeholder="write a comment">
            <input type="hidden" id="announcementsId" asp-for="Comment.AnnouncementsId" value="@Model.Announcements.Id">
            <div class="col-sm-2">
                <button type="button" id="btnGet" class="btn btn-primary">Add Comment</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12" id="comments">
        @*@foreach (var comment in Model.Comments)
            {
            <p>
                @comment.Description
                @comment.SenderId
            </p>
            }*@
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {

            getComments();
            $("#commentBtn").click(function () {
                $("#commentBox").show();
            });
            $("#btnGet").click(function () {
                $.ajax({
                    url: "/Details?handler=Comment",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    type: "POST",
                    data: { "description": $("#description").val(), "announcementsId": $("#announcementsId").val() },
                    success: function (response) {
                        $('#comments').empty();
                        getComments(0);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                $("#description").val("");
            });

            $("body").on('click', '.replyBtn', function () {
                let id = $(this).attr('name');
                $(`#${id}`).show();
            });

            $("body").on('click', '.replyCommentBtn', function () {
                let id = $(this).attr('name');
                    $.ajax({
                        url: "/Details?handler=Comment",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        type: "POST",
                        data: {"parentId":id, "description": $(`#description${id}`).val(), "announcementsId": $(`#announcementId${id}`).val() },
                        success: function (response) {
                            getCommentById(id);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                    $("#description").val("");
            });

            function getComments(parentId) {
                var announcementsId = $("#Announcements_Id").val();
                $.ajax({
                    url: `/Details?id=${announcementsId}&&parentId=${parentId}&&handler=Comments`,
                    type: "GET",
                    success: function (response) {
                        $.each(response, function (index, value) {
                            $('#comments').append(`<ul class="list-group list-group-flush">
                                                                                    <li class="list-group-item ${value.id}">
                                                                                          <small class="text-muted">${value.sender.userName}: </small>
                                                                                          <span>${value.description}</span>
                                                                                                <a href="#" class="replyBtn" id="replyBtnId${value.id}" name="${value.id}">Reply</a>
                                                                                                <div class="row mb-2" id="${value.id}" style="display:none">
                                                                                                    <div class="col-md-12">

                                                                                                        <div class="form-group row">
                                                                                                            <input type="text" class="col-sm-8 col-form-label" id="description${value.id}" placeholder="write a comment">
                                                                                                            <input type="hidden" id="announcementId${value.id}" value="@Model.Announcements.Id">
                                                                                                            <div class="col-sm-2">
                                                                                                                <button type="button" class="btn btn-primary replyCommentBtn" name="${value.id}">Add Comment</button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                      </li></ul>`);
                            appendEditDelete(value);
                            getCommentById(value.id);
                        })
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
            function getCommentById(id) {
                $.ajax({
                    url: `/Details?id=${id}&&handler=CommentById`,
                    type: "GET",
                    success: function (response) {

                        $.each(response, function (index, value) {
                            $(`.${value.id}`).remove();
                            $(`.${id}`).append(`
                                                                                    <li class="list-group-item ${value.id}">
                                                                                          <small class="text-muted">${value.sender.userName}: </small>
                                                                                          <span>${value.description}</span>
                                                                                              <a href="#" class="replyBtn" id="replyBtnId${value.id}" name="${value.id}">Reply</a>
                                                                                                <div class="row mb-2" id="${value.id}" style="display:none">
                                                                                                    <div class="col-md-12">

                                                                                                        <div class="form-group row">
                                                                                                            <input type="text" class="col-sm-8 col-form-label" id="description${value.id}" placeholder="write a comment">
                                                                                                            <input type="hidden" id="announcementId${value.id}" value="@Model.Announcements.Id">
                                                                                                            <div class="col-sm-2">
                                                                                                                <button type="button" class="btn btn-primary replyCommentBtn" id="replyBtnId${value.id}" name="${value.id}">Add Comment</button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                        </li>`);
                            appendEditDelete(value);
                            getCommentById(value.id);
                        })
                    },
                    failure: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }

            function appendEditDelete(value) {
                if (value.sender.userName === "@User.Identity.Name") {
                    $(`#replyBtnId${value.id}`).after(` | <a href="#" id="deleteBtnId${value.id}">delete</a> | <a href="#" id="editBtnId${value.id}">edit</a>`);
                            }
            }
        });
    </script>
}