@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Announcements</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                CreatedBy
            </th>
            <th>
                Created At
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Announcements)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Title)*@
                    @item.Title
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desciption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">View</a>

                </td>
            </tr>
        }
    </tbody>
</table>